<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>koa2+react 同构直出脚手架</title>
        <script type="text/javascript">
            window.preState='<%-preState%>'</script>
    <link href="/style1.css" rel="stylesheet"><link href="/style2.css" rel="stylesheet"></head>
    <body>
        <div id="root" class="root"><%-root%></div>
    <script type="text/javascript" src="/bundle.js"></script><script type="text/javascript" src="/main.js"></script></body>
</html>