<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>koa2+react 同构直出脚手架</title>
        <script type="text/javascript">
            window.preState='<%-preState%>'</script>
    <link href="/css/styles.css" rel="stylesheet"><link href="/css/less.css" rel="stylesheet"></head>
    <body>
        <div id="root" class="root"><%-root%></div>
    <script type="text/javascript" src="/js/main.b012fd3f.js"></script><script type="text/javascript" src="/js/vendorRouter.764e5ccd.js"></script><script type="text/javascript" src="/js/vendorRedux.0930010c.js"></script><script type="text/javascript" src="/js/vendorReact.322d7e5b.js"></script></body>
</html>